.draggable {
  position: absolute;
  cursor: move;
  width: 60px;
  height: 50px;
  background-color: blue;
}

#tiny-logo {
  height: 20px;
}

button {
  all: unset;
}

.click-img {
  height: 40px;
  filter: invert(86%) sepia(98%) saturate(0%) hue-rotate(229deg) brightness(118%) contrast(87%);
}